ndll/*
project/obj/*
lib/*
cpp/
*.swp
out.txt

samples/00-Minimal/bin/*
samples/00-Minimal/waxe.ndll
samples/00-Minimal/Main.n

samples/01-Simple/bin/*
samples/01-Simple/waxe.ndll
samples/01-Simple/Simple.n

samples/02-Dialog/bin/*
samples/02-Dialog/waxe.ndll
samples/01-Simple/Sample.n

samples/03-NME/bin/*
samples/03-NME/waxe.ndll
samples/03-NME/WaxeMe.n

samples/05-EventHandlers/bin/*
samples/05-EventHandlers/waxe.ndll
samples/05-EventHandlers/Main.n

samples/06-MessageBox/bin/*
samples/06-MessageBox/waxe.ndll
samples/06-MessageBox/Main.n
